.home-container {
  /* width: 100%; */
  height:680px;
  background-image: url("../components/secret-3120483_1920.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke; 
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 5rem;
  font-weight: bolder;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.9);  */
  font-family: "Nova Round",serif;
}

.home-container h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: italic;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 1.9);  */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.begin-button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #1B4332;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.begin-button:hover {
  background-color: #D8F3DC;
  color: #1B4332;
}
