
.navbar {
    display: flex;
    gap: 1190px;
    align-items: center;
    background-color: #013220;
    padding: 20px 15px;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    animation: fadeIn 2s ease-in-out forwards;
  } 
  
  
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav-logo img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: relative;
    top: 10px;
    left: 10px;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  .nav-logo h1 {
    font-size: 28px;
    margin-left:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
  
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    transition: 0.3s;
    margin-left: 15px;
    font-family: "Nova Round",serif;
    font-weight: bolder;
  }
  
  .nav-links a:hover {
    color: #27ae60;
  }
  

